{% extends 'event/base.html' %}

{% block content %}
<h1> {{title}} </h1>
<h1>Пользовательская информация</h1>
 {% if request.user.is_authenticated %}
<p>Логин: {{ user.username }}</p>
<p>Почта: {{ user.email }}</p>
<p>Имя: {{ user.first_name }}</p>
<p>Фамилия: {{ user.last_name }}</p>
<p>Пол: {{ user.sex }}</p>
<p>Возраст: {{ user.age }}</p>
<p>Город: {{ user.city }}</p>

{% endif %}
<h1>Ваши мероприятия</h1>

 {%for e in events %}

{% if user.pk == e.user_id %}
<p> {{ e.event.title }} </p>
{% endif %}

{% endfor %}
{% endblock %}